<h1><%= @title %></h1>

<p><%= @text %></p>

<%#= link_to 'About Us', about_path %>

<%#= link_to 'About Us', controller: :pages, action: :about_us %>

<%= link_to 'About Us', 'about', target: '_blank', data: {name: 'about-page', resource: 'pages'} %>
<%= link_to 'Contact Us', 'contact', target: '_blank', data: {name: 'contact-page', resource: 'pages'} %>
<%= link_to 'Privacy Policy', 'privacy-policy', target: '_blank', data: {name: 'privacy-policy-page', resource: 'pages'} %>
<%= link_to 'Terms And Conditions', 'terms-and-conditions', target: '_blank', data: {name: 'terms-and-conditions-page', resource: 'pages'} %>


<%#= link_to nil, about_path %>
